.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h2 {
  color: rgb(34, 90, 128);
  text-align: center;

}

.phrase_card {
  display: flex;
  flex-direction: row;
  margin: 20px;
  padding: 10px;
  background-color: rgba(127, 204, 255, 0.2);
}
.phrase_author {
  color: rgb(34, 90, 128);
  padding-left: 10px;
}

.text-fill {
  color: rgb(34, 90, 128);
  padding: 10px;
}
.new_phrase_btn {
  background-color: rgb(34, 90, 128);
  color: white;
}